/*****************************   Database Application Styling Styling   *****************************/
.db-application-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.superscript {
  position: relative;
  top: -0.6em;
  font-size: 70%;
}

.text-color-green {
  color: #00E000;
}

.text-color-red {
  color: #E00000;
}

.position-absolute {
  position: absolute;
}

/*****************************   Header Styling   *****************************/
.db-header-container {
  max-width: 768px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.db-header-home-button {
  position: relative;
  top: 0;
  left: 0;
}

.db-header-nav-container-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.db-header-nav-container {
  margin: 0 40px 0 5px;
  height: 35px;
  max-width: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.db-header-button {
  background-color: black;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 1px;
  border-radius: 2px 2px 5px 5px;
}

.forum-background-image {
  background: url("./header/forum-background.png") center no-repeat black;
}

.multiplayer-background-image {
  background: url("./header/multiplayer-background.png") center no-repeat black;
}

.strategy-background-image {
  background: url("./header/strategy-background.png") center no-repeat black;
}

.db-header-img-container {
  height: 35px;
  padding: 5px 5px 5px 3px;
}

.db-header-img {
  max-height: 100%;
}

/*****************************   Search Styling   *****************************/
.database-search-container {
  margin: 15px 5px 3px;
  background-color: #2a2a2a;
  height: 1.5em;
  border-radius: 8px;
  max-width: 350px;
}

.database-search-icon {
  vertical-align: middle;
  height: 1.5em;
  margin: 0 0 0 3px;
}

.database-search-input {
  font-size: 1em;
  width: 85%;
  border: none;
  background-color: #2a2a2a;
  color: white;
  outline: none;
}

/*****************************   Items Panel Styling   *****************************/
.db-content-container {
  margin: 10px 0 0;
}

.db-content-header {
  font-size: 1.5em;
  margin: 0 0 10px 5px;
}

.db-content {
  margin: 0 0 0 10px;
}

.db-content-list-entry-data-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  page-break-inside: avoid;
}

.db-content-list-entry {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  page-break-inside: avoid;
}

.db-content-list-entry-name {
  padding: 0 0 0 3px;
}

/*****************************   Item (Generic, Weapon, Armor, etc.) Panel Styling   *****************************/
.db-item-info-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 15px 5px 5px;
}

.db-item-info-header {
  margin: 0 0 5px;
}

.db-item-category-text {
  font-size: .75em;
  margin: 0 0 15px;
}

.db-item-category:nth-last-of-type(1n+2) {
  margin: 0 5px 0 0;
}

.db-item-pic-desc-container {
  float: left;
  padding: 0 10px 10px 0;
  width: 250px;
  max-width: 200px;
  position: relative;
}

.db-item-pic {
  max-width: 100%;
  max-height: 100%;
}

.db-item-not-available-image {
  position: absolute;
  top: 18%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}

.db-item-desc {
  text-align: center;
  font-size: .85em;
}

/******************  Weapon Data  ******************/
.db-item-weapon-table {
  margin: 10px 0 0 0;
  width: 100%;
}

/*
table top left and top right radius
we have a single header cell so we need to set both borders, otherwise we would need to set the top left and top right independently
*/
.db-item-weapon-table tr:first-child th:first-child {
  border-radius: 11px 11px 0 0;
}

/*table bottom left radius*/
.db-item-weapon-table tr:last-child td:first-child {
  border-radius: 0 0 0 5px;
}

/*table bottom right radius*/
.db-item-weapon-table tr:last-child td:last-child {
  border-radius: 0 0 5px 0;
}

.db-item-weapon-table-header-cell {
  height: 1.6em;
  text-align: left;
  vertical-align: middle;
  padding: 0 0 0 5px;
  background-color: #393939;
}

.db-item-weapon-table-body {
  font-size: .9em;
}

.db-item-weapon-table-body-row {
  height: 1.4em;
  background-color: #2d2e29;
}

.db-item-weapon-table-body-col1 {
  vertical-align: middle;
  padding: 0 0 0 5px;
}

.db-item-weapon-table-body-col2 {
  text-align: center;
  vertical-align: middle;
  width: 60%;
}

.db-item-weapon-table-body-span-container {
  display: flex;
}

.db-item-weapon-table-body-span-left {
  text-align: right;
  flex: 1;
}

.db-item-weapon-table-body-span-mid {
  flex: 0;
}

.db-item-weapon-table-body-span-right {
  text-align: left;
  flex: 1;
}

.db-item-weapon-table-body-infinity {
  font-size: 1.5em;
}

/******************  Weapon Modifications  ******************/
.weapon-mods-container {
  margin: 10px 0 0 0;
  background-color: #2d2e29;
  border-radius: 11px 11px 5px 5px;
}

.weapon-mods-heading {
  display: flex;
  padding: 5px;
  border-radius: 10px 10px 0 0;
  background-color: #393939;
  text-align: center;
}

.weapon-mods-data-container {
  display: flex;
}

.weapon-mods-types-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.weapon-mods-names-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

.weapon-mods-mods-container {
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weapon-mods-stats-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weapon-mods-input-container {
  margin: 1px 0;
  display: flex;
  align-items: center;
}

.weapon-mods-text {
  font-size: .75em;
}

.weapon-mods-type-width {
  width: 25%;
}

.weapon-mods-name-width {
  width: 35%;
}

.weapon-mods-mod-width {
  flex: 1;
}

/******************  Weapon Annotations  ******************/
.db-item-weapon-annotation-container {
  margin: 2px 0 10px 0;
  font-size: .75em;
}

.db-item-weapon-annotation-entry {
  display: flex;
}

.db-item-weapon-annotation {
  margin: 0 3px 0 0;
  min-width: 10px;
  top: 0px;
}

/******************  Armor Data  ******************/
.db-item-armor-table {
  margin: 10px 0 0 0;
  width: 250px;
}

.db-item-armor-table-body {
  font-size: .9em;
}

.db-item-armor-table-body-row {
  height: 21px;
}

.db-item-armor-table-body-col2 {
  text-align: right;
}

.db-item-armor-table-body-infinity {
  font-size: 1.5em;
}

/******************  Armor Annotations  ******************/
.db-item-armor-annotation-container {
  margin: 0 0 10px 0;
  font-size: .75em;
}

.db-item-armor-annotation-entry {
  display: flex;
}

.db-item-armor-annotation {
  margin: 0 3px 0 0;
  min-width: 10px;
  top: 0px;
}

/******************  Crafting Data  ******************/
.db-item-crafting-table-container {
  margin: 10px 0 0 0;
  max-width: 100%;
  border-radius: 11px 11px 5px 5px;
  background-color: #2d2e29;
}

.db-item-crafting-table-header-container {
  border-radius: 10px 10px 0 0;
  background-color: #393939;
  padding: 5px;
  display: flex;
}

.db-item-crafting-table-heading {
  display: inline-block;
  flex: 1 0;
}

.db-item-crafting-table-craft-level {
  margin: 0 15px 0 0;
}

.db-item-crafting-table-craft-points {
  margin: 0 0 0 2px;
}

.db-item-crafting-table-row {
  display: flex;
  align-items: center;
  font-size: .9em;
  padding: 0 5px 0 0;
}

.db-item-crafting-table-row-image {
  width: 30px;
  height: 30px;
}

.db-item-crafting-table-row-text {
  width: 100px;
  margin: 0 0 0 10px;
  flex: 1 0;
}

/******************  Item Links  ******************/
.database-item-links-container {
  border-radius: 11px 11px 5px 5px;
  background-color: #777777;
  margin: 10px 0 0 0;
}

.database-item-links-heading {
  border-radius: 10px 10px 0 0;
  background-color: #393939;
  padding: 5px;
}

.database-item-links-scroll-container {
  display: flex;
  overflow: auto;
}

.database-item-links-scroll-item {
  height: 100px;
  width: 80px;
  font-size: .75em;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
  background-color: #2d2e29;
  margin: 5px;
  border-radius: 5px; 
}

.database-item-links-scroll-item-heading {
  flex-grow: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.database-item-links-scroll-item-text {
  flex-grow: 9;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}


/*****************************   Footer Styling   *****************************/
.db-footer-container {
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.db-footer-copyright-text {
  font-size: .75em;
}


/*********************************************************************************************

                                  Media Query - View Port > 480px

*********************************************************************************************/
@media (min-width: 480px) {
  .db-content {
  columns: 2;
  }
}


