/*****************************   Database Application Styling Styling   *****************************/
.db-application-content {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

/*****************************   Header Styling   *****************************/
.db-header-container {
  max-width: 768px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
}

.db-header-home-button {
  position: relative;
  top: 0;
  left: 0;
}

.db-header-nav_container-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.db-header-nav-container {
  margin: 0 40px 0 5px;
  height: 35px;
  max-width: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.db-header-button {
  background-color: slategrey;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.db-header-img-container {
  height: 35px;
  padding: 5px 5px 5px 3px;
}

.db-header-img {
  max-height: 100%;
}

/*****************************   Search Styling   *****************************/
.database-search-container {
  margin: 15px 5px 3px;
  background-color: #2a2a2a;
  height: 1.5em;
  border-radius: 8px;
  max-width: 350px;
}

.database-search-icon {
  vertical-align: middle;
  height: 1.5em;
  margin: 0 0 0 3px;
}

.database-search-input {
  font-size: 1em;
  width: 85%;
  border: none;
  background-color: #2a2a2a;
  color: white;
  outline: none;
}

/*****************************   Items Panel Styling   *****************************/
.db-content-container {
  margin: 10px 0 0;
}

.db-content-header {
  font-size: 1.5em;
  margin: 0 0 10px 5px;
}

.db-content {
  margin: 0 0 0 10px;
}

.db-content-list-entry {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  page-break-inside: avoid;
}

.db-content-list-entry-name {
  padding: 0 0 0 3px;
}

/*****************************   Item (Generic, Weapon, Armor, etc.) Panel Styling   *****************************/
.db-item-info-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  padding: 15px 5px 5px;
}

.db-item-info-header {
  margin: 0 0 5px;
}

.db-item-category-text {
  font-size: .75em;
  margin: 0 0 15px;
}

.db-item-category:nth-last-of-type(1n+2) {
  margin: 0 5px 0 0;
}

.db-item-pic-desc-container {
  float: left;
  padding: 0 10px 10px 0;
  width: 30vh;
  max-width: 200px;
}

.db-item-pic {
  max-width: 100%;
  max-height: 100%;
}

.db-item-desc {
  text-align: center;
  font-size: .85em;
}

/*****************************   Footer Styling   *****************************/
.db-footer-container {
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.db-footer-copyright-text {
  font-size: .75em;
}


/*********************************************************************************************

                                  Media Query - View Port > 480px

*********************************************************************************************/
@media (min-width: 480px) {
  .db-content {
  columns: 2;
  }
}


