<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Jugando Last Day On Earth - A website dedicated to playing Last Day On Earth: Survival at the highest level.  We offer strategies, an item and zone database, a breakdown of the latest news and changes in the game, and a forum to discuss everything related to LDOE." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /><!-- tell iOS not to format my phone number links -->
    <meta name="google-site-verification" content="XFXjCjSsUjM_i2G3xS0wRrVozR9Tbg_YRqUt2-8gpeo" />
    <meta name="msvalidate.01" content="C7E67FDDE1A41DB0301BE34ACB240A97" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    </script>
  </head>
  <body>
    <main id="main"></main>
  </body>
</html>