<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="Last Day On Earth: Outpost - A website dedicated to playing Last Day On Earth: Survival at the highest level.  We offer strategies, an item and zone database, a breakdown of the latest news and changes in the game, and a forum to discuss everything related to LDOE." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" /><!-- tell iOS not to format my phone number links -->
    <meta name="google-site-verification" content="XFXjCjSsUjM_i2G3xS0wRrVozR9Tbg_YRqUt2-8gpeo" />
    <meta name="msvalidate.01" content="C7E67FDDE1A41DB0301BE34ACB240A97" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#000000">
    </script>
  </head>
  <body>
    <main id="main"></main>
  </body>
</html>