/*
Focusing a mobile first layout, so everything here will be for smaller mobile displays
up to something like a Galaxy s8 or iPhone 8 Plus.
*/

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/*****************************   App Styling   *****************************/
body {
  max-width: 768px;
  margin: auto;
  background-color: black;
  color : white;
}

html, body {
  height: 100%;
}

#main {
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  font-family: sans-serif;
  height: 100%;
}

.hidden-element {
  display: none;
}

/* anchor/link text properties*/
a         { text-decoration: none;      font-weight: 600; }
a:link    { color: #1155cc;                             }
a:visited { color: #6611CC;                             }
a:hover   { text-decoration: underline;                   }
a:active  { color: #1155cc;                             }

/*****************************   Launch Page Header Styling   *****************************/
.header-content {
  /* padding: 5px 5px 0;
  flex: 0 0 auto;
  width: 100%;
  height: 48px;
  margin: 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; */
  /* -webkit-justify-content: space-between;
  justify-content: space-between; */
}

.social-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  margin: 5px 5px 0 0;
}

.social-container .social-img-container:nth-last-of-type(1n+2) {
  margin: 0 5px 0 0;
}

.social-img-container {
  height:38px;
  width:38px;
  background-color: black;
  border: 1px solid white;
  border-radius: 6px;
}

.social-img {
  max-height: 100%;
}

/* .img-fill {
  max-height: 100%;
  max-width: 100%;
} */

/*****************************   Main Content Styling   *****************************/
.nav-button-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0 0;
}

.nav-button-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px;
}

.nav-button {
  background-color: slategrey;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-button-add-margin {
  margin: 0 20px 0 0;
}

/*****************************   Main Content Styling   *****************************/
.content-header-1 {
  display: inline-block;
  background-color: red;
  font-size: 1.5em;
  margin: 0 0 2px
}

.content-subheading {
  padding: 8px 0 2px 10px;
  font-size: 1.1em;
  text-decoration: underline;
}

.content-paragraph {
  padding: 0 0 0 10px;
  font-size:.9em;
}

/*****************************   Footer Styling   *****************************/
.footer-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.footer-copyright-text {
  font-size: .75em;
}

/*****************************   Main Content Styling   *****************************/
/* .main-content {
  padding: 0 5px 0 5px;
  overflow-y: auto;
}

.mc-sub-panel {
  display: flex;
  -webkit-display: flex;
  padding: 0 0 10px;
}

.mc-sub-panel-img {
  height: 1.75em;
  max-width: 100%;
}

.mc-sub-panel-header-container {
  padding: 0 0 0 5px;
}

.mc-sub-panel-header {
  font-size: 1.75em;
  padding: 0 0 5px;
  display: inline-block;
  vertical-align: bottom;
} */

/*****************************   Units Content Styling   *****************************/
/* .mc-sub-panel .units-entry-container:nth-last-of-type(1n+2) {
  padding: 0 0 5px;
}

.units-dim-row {
  padding: 0 0 2px;
}

.units-dimensions {
  display: inline-block;
  width: 120px;
}

.units-rate-sup {
  vertical-align: top;
  font-size: .75em;
}

.units-info-container {
  padding: 0 0 0 20px;
}

.units-info-text {
  font-size: .75em;
}

.units-info-availability {
  display: inline-block;
  padding: 0 5px 0 0;
  font-style: italic;
}

.unit-available {
  font-weight: 600;
  color: black;
}

.unit-not-available {
  font-weight: 500;
  color: red;
} */

/*****************************   Operations Content Styling   *****************************/
/* .operations-container .operations-type-container:nth-last-of-type(1n+2) {
  padding: 0 0 4px;
}

.operations-type {
  padding: 0 0 4px;
}

.operations-hours-row {
  font-size: .75em;
  padding: 0 0 2px 20px;
}

.operations-days {
  display:inline-block;
  width: 120px;
}

.operations-hours {
  font-weight: 600;
} */

/*****************************   Ratings Content Styling   *****************************/
/* .ratings .rating-container:nth-last-of-type(1n+2) {
  padding: 0 0 5px;
}

.ratings-name-row {
  display: flex;
  -webkit-display: flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  padding: 0 0 4px;
}

.ratings-title {
  font-size: .75em;
  font-weight: 600;
  padding: 0 0 2px;
}

.ratings-star-container {
  height: 1em;
}

.ratings-info-container {
  padding: 0 0 0 20px;
}

.ratings-comment {
  font-size: .75em;
} */

/*****************************   Address Content Styling   *****************************/
/* .address-row-container {
  padding: 0 0 2px;
}

.address-info-container {
  padding: 0 0 0 20px;
}

.address-details-text {
  font-size: .75em;
  padding: 0 0 2px;
} */
