/*STRATEGY STYLES*/

/*****************************   Header Styling   *****************************/
.strategy-header-container {
  max-width: 768px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin: 0 0 10px;
}

.strategy-header-home-button {
  position: relative;
  top: 0;
  left: 0;
}

.strategy-header-nav-container-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.strategy-header-nav-container {
  margin: 0 40px 0 5px;
  height: 35px;
  max-width: 400px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.strategy-header-button {
  background-color: black;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  margin: 0 1px;
  border-radius: 2px 2px 5px 5px;
}

.forum-background-image {
  background: url("./header/forum-background.png") center no-repeat black;
}

.multiplayer-background-image {
  background: url("./header/multiplayer-background.png") center no-repeat black;
}

.database-background-image {
  background: url("./header/database-background.png") center no-repeat black;
}

.strategy-header-img-container {
  height: 35px;
  padding: 5px 5px 5px 3px;
}

.strategy-header-img {
  max-height: 100%;
}


/*****************************   Content Styling   *****************************/
.strategy-heading-title {
  font-size: 1.5em;
  font-weight: 600;
  margin: 0 0 10px 0px;
}

.strategy-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 5px;
}

.strategy-article-link {
  font-size: 1.25em;
  margin: 0 0 7px 5px;
}

/*****************************   Launch Page Nav Styling   *****************************/
.strategy-nav-button-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px 0 0;
}

.strategy-nav-button-row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.strategy-nav-button {
  background-color: #2d2e29;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin: 0 20px 20px 0;
}

/* .strategy-nav-button-basedesign {
  background: url("./nav/forum.png") center/contain no-repeat;
}

.strategy-nav-button-bunkers {
  background: url("./nav/strategy.png") center/contain no-repeat;
}

.strategy-nav-button-multiplayer {
  background: url("./nav/multiplayer.png") center/contain no-repeat;
}

.strategy-nav-button-updates {
  background: url("./nav/database.png") center/contain no-repeat;
} */

/* .strategy-nav-button-events {
  background: url("./nav/forum.png") center/contain no-repeat;
}

.strategy-nav-button-aibases {
  background: url("./nav/strategy.png") center/contain no-repeat;
}

.strategy-nav-button-tipsandtricks {
  background: url("./nav/multiplayer.png") center/contain no-repeat;
}

.strategy-nav-button-resources {
  background: url("./nav/database.png") center/contain no-repeat;
}

.strategy-nav-button-pets {
  background: url("./nav/database.png") center/contain no-repeat;
} */

.strategy-nav-button-text {
  margin: 0 0 2px;
}


/*****************************   Footer Styling   *****************************/
.strategy-footer-container {
  height: 40px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.strategy-footer-copyright-text {
  font-size: .75em;
}
